.exhibitionDetails {
}

.exhibitionDetailsDescription {
  padding: 12px;
  padding-top: 1px;
  text-align: justify;
  margin-bottom: 10px;
}

.exhibitionHeader {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  margin-left: 18px;
}
